---
const { img, text, buttontext, link, paragraph } = Astro.props;
---

<div class="card-wrapper">
  <div class="card">
    <img src={img} alt="" />
    <div class="content">
      <h1>{text}</h1>
      <p>&#8594 Deveopler</p>
      <p><strong>Løsning:</strong> <a href={link}>{paragraph}</a></p>
    </div>
  </div>
</div>

<style>
  @layer components {
    img {
      border-radius: 10px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .card-wrapper {
      container-type: inline-size;
      padding-block: 4rem;
      /* grid-column: full; */
    }

    .content {
      display: grid;
      gap: 1rem;
      align-self: start;
    }

    .card:has(img) {
      display: grid;
      gap: 3rem;

      @container (width > 600px) {
        grid-template-columns: 3fr 1fr;

        .card-wrapper {
          display: grid;
        }
      }
    }

    a {
      text-decoration: none;
      color: var(--blue);
      padding-right: 30px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        height: 0.7px;
        background: var(--blue);
        left: 0;
        bottom: 0;
        width: 0;
        transition: width 0.2s;
      }

      &:hover:after {
        width: 80%;
      }
    }

    @media (width > 600px) {
      .container {
        padding-block: 10rem;
      }
    }
  }
</style>
