---
const { text, variant, size } = Astro.props;
---


<button class={variant + " " + size}>
  <p>{text}</p>
</button>


<style>
  @layer components {
    button {
      padding: 8px 18px;
      border-radius: 42px;
      transition:
        background-color 0.2s,
        color 0.2s;
      font-size: var(--body);
      outline: none;
      border: none;
      pointer-events: none;
      white-space: nowrap;
      width: fit-content;
    }

    .primary {
      background: var(--pale-yellow);
      color: var(--black);

      &:hover {
        background: oklch(from var(--pale-yellow) calc(l - 0.05) c h);
      }
      &:active {
        background: oklch(from var(--pale-yellow) calc(l - 0.1) c h);
      }
    }

    .secondary {
      background: transparent;
      border-radius: 50em;
      border: 1px solid var(--purple);
    }


    .tertiary {
      background:
        linear-gradient(oklch(from var(--black) calc(l + 0.1) c h), oklch(from var(--black) calc(l + 0.1) c h)) padding-box,
        linear-gradient(to right, darkblue, oklch(70% 0.5 290)) border-box;
      border-radius: 50em;
      border: 1px solid transparent;
    }
  }
</style>
