---
import DBACard from "./DBACard.astro";
import FigmaCard from "./FigmaCard.astro";
import ITMVCard from "../components/ITMVCard.astro";
import VildMadCard from "../components/VildMadCard.astro";
---

<div class="container">
  <div class="boks">
    <h2>Mine projekter</h2>
  </div>
  <DBACard />
  <FigmaCard />
  <ITMVCard />
  <VildMadCard />
</div>

<style>
  @layer components {
  }
</style>
