---
import Button from "./Button.astro";
---

<section>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="card"></div>
</section>

<style>
  @layer components {
    display: flow-root;
    min-height: 100svh;
    font-family: system-ui, sans-serif;
    display: grid;
    align-items: start;
    gap: 80svh;
    .card {
      /* Brug :has() som normalt */
      :has(> &) {
        display: grid;
        grid: auto;
        gap: 2rem;
        overflow-x: clip;
      }

      width: min(300px, 100%);
      aspect-ratio: 0.75;
      border-radius: 8px;
      background: red;
      animation: --move linear both;
      margin-top: -15%;
    }

    @keyframes --move {
      from {
        translate: 120vw;
        rotate: z 12deg;
        scale: 0.6;
      }

      50% {
        translate: calc(50vw - 50%);
      }

      40%,
      60% {
        rotate: z 0deg;
        scale: 1;
      }

      to {
        translate: calc(-20vw - 100%);
        rotate: z -12deg;
        scale: 0.6;
      }
    }
  }
</style>

<script src="https://flackr.github.io/scroll-timeline/dist/scroll-timeline.js"></script>
