---
import Button from "./Button.astro";
---

<h1>Projekter</h1>
<div class="container">
  <div class="spacer"></div>
  <div class="card">
    <div class="bottom-div">
      <h2>Redesign af DBA</h2>
      <Button variant="tertiary" text="Developer" />
      <p>Løsning: <a href="https://dba-redesign.netlify.app/ ">DBA Redesign</a></p>
    </div>
  </div>
  <div class="card">
    <div class="bottom-div">
      <h2>Interview af Frederik Stadager</h2>
      <div class="flex">
        <Button variant="tertiary" text="Videograf" />
        <Button variant="tertiary" text="Adobe Premiere Pro" />
      </div>
    </div>
  </div>
  <div class="card"></div>
  <div class="card"></div>
  <div class="spacer"></div>
</div>

<style>
  @layer components {
    .container {
      grid-column: full;
      .card {
        :has(> &) {
          display: grid;
          grid: auto;
          gap: clamp(4rem, 0.9783rem + 2.6087vw, 1.5rem);
          overflow-x: clip;
        }

        width: min(350px, 100%);
        aspect-ratio: 0.75;
        border-radius: 8px;
        background: oklch(from var(--black) calc(l + 0.1) c h);
        animation: --move linear both;
        animation-timeline: view();
        margin-top: -15%;
        display: flex;
        flex-direction: column;

        a {
          text-decoration: none;
          color: var(--white);
          cursor: pointer;

          & :hover {
            text-decoration: underline;
          }
        }
      }
      .bottom-div {
        margin-top: auto;
        padding: 1rem;
        display: grid;
        gap: 1rem;

        & > * {
          align-self: start;
        }
      }

      .flex {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
      }
    }

    .spacer {
      height: 20svh;
    }

    @keyframes --move {
      from {
        translate: 120vw;
        rotate: z 12deg;
        scale: 0.6;
      }

      50% {
        translate: calc(50vw - 50%);
      }

      40%,
      60% {
        rotate: z 0deg;
        scale: 1;
      }

      to {
        translate: calc(-20vw - 100%);
        rotate: z -12deg;
        scale: 0.6;
      }
    }

    @media (width > 600px) {
      .container {
        .card {
          width: min(500px, 100%);
        }
      }
    }
  }
</style>
