---

---

<section>
  <div class="container">
    <h2>Erfaring</h2>
    <div class="box">
      <p>2024-nu</p>
      <div class="content">
        <h3>Tutor</h3>
        <span>KEA - Københavns Erhvervsakademi</span>
        <p>Tutor for multimediedesignstuderende</p>
      </div>
    </div>
    <div class="box">
      <p>2024-nu</p>
      <div class="content">
        <h3>Personlig Assistent</h3>
        <span>Alm. Brand</span>
        <p>PA for Sunsetting Specialist. Opdatering og registering af applikationer i Excel samt udvikling af Confluence side for ALM (Application Life Mangement) og Architecture and Technology.</p>
      </div>
    </div>
    <div class="box">
      <p>2023-2023</p>
      <div class="content">
        <h3>UX/UI-konsulent</h3>
        <span>Blomster og Cocktails</span>
        <p>Udarbejdelse af user personas, userflow diagram, visuelt æstetiske wireframes og funktionelle interaktive prototyper i Figma. Vejledning og rådgivning i relevante features.</p>
      </div>
    </div>

    <div class="box">
      <p>2021-2023</p>
      <div class="content">
        <h3>Fysioterapeut</h3>
        <span>Center for Genoptræning Vanløse</span>
      </div>
    </div>
  </div>
  <div class="container">
    <h2>Uddannelse</h2>

    <div class="box">
      <p>2023-2025</p>
      <div class="content">
        <h3>Multimediedesigner</h3>
        <span>KEA - Københavns Erhvervsakademi</span>
      </div>
    </div>
    <div class="box">
      <p>2018-2021</p>
      <div class="content">
        <h3>Bachelor i Fysioterapi</h3>
        <span>Københavns Professionshøjskole</span>
      </div>
    </div>
  </div>

  <style>
    @layer components {
      section {
        padding-block: 8rem 3rem;

        place-self: center;
      }
      .container {
        display: grid;
        gap: 1rem;
        padding-block-end: 2rem;
      }
      .box {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        gap: 1rem;

        h3 {
          font-weight: 600;
        }
        p {
          opacity: 80%;
          max-width: 500px;
        }

        span {
          font-weight: 600;
          font-size: 1rem;
        }
      }

      @media (width > 600px) {
        section {
          padding-block-start: 0rem;
        }
      }
    }
  </style>
</section>
