---

---

<section>
  <div class="container">
    <h2>Erfaring</h2>
    <div class="box">
      <p>2024-nu</p>
      <div class="content">
        <h2>Personlig Assistent</h2>
        <span>Alm. Brand</span>
        <p>PA for Sunsetting Specialist. Opdatering og registering af applikationer i Excel samt udvikling af Confluence side for ALM (Application Life Mangement) og Architecture and Technology.</p>
      </div>
    </div>
    <div class="box">
      <p>2023-2023</p>
      <div class="content">
        <h2>UX/UI-konsulent</h2>
        <span>Blomster og Cocktails</span>
        <p>Udarbejdelse af user personas og userflow diagram. Udarbejdelse af visuelt æstetiske wireframes og funktionelle interaktive prototyper i Figma i forbindelse med demonstration af userflow. Vejledning og rådgivning i relevante features for målgruppe samt hvorvidt features er mulige for kunden at vedligeholde.</p>
      </div>
    </div>

    <div class="box">
      <p>2021-2023</p>
      <div class="content">
        <h2>Fysioterapeut</h2>
        <span>Center for Genoptræning Vanløse</span>
        <p>Fungeret som almen praktiserende fysioterapeut. Erfaring med ortopædkirurgiske og præoperative diagnoser og problematikker i underekstremiteten.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <h2>Uddannelse</h2>

    <div class="box">
      <p>2023-2025</p>
      <div class="content">
        <h2>Multimediedesigner</h2>
        <span>KEA - Københavns Erhvervsakademi</span>
      </div>
    </div>
    <div class="box">
      <p>2018-2021</p>
      <div class="content">
        <h2>Bachelor i Fysioterapi</h2>
        <span>Københavns Professionshøjskole</span>
      </div>
    </div>
  </div>

  <style>
    @layer components {
      section {
        padding: var(--section-padding);
      }
      .container {
        display: grid;
        gap: 1rem;
        padding-block-end: 2rem;
      }
      .box {
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        gap: 1rem;

        h2 {
          font-weight: 600;
        }
        p {
          opacity: 80%;
        }
      }
    }
  </style>
</section>
