---
import DBA from "../assets/images/dba-redesign.png";
---

<div class="card-wrapper">
  <div class="card">
    <div class="content">
      <h1>DBA - Redesign</h1>
      <ul>
        <li>&#8594 Developer</li>
      </ul>
      <p><strong>Løsning:</strong> <a href="https://dba-redesign.netlify.app/">DBA Redesign</a></p>
    </div>
    <figure>
      <img src={DBA.src} alt="" />
    </figure>
  </div>
</div>

<style>
  @layer components {
    ul {
      padding: 0;
      li {
        list-style: none;
        font-size: 1.15rem;
      }
    }
    img {
      border-radius: 10px;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    figure {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 300px;
        height: 200px;
        border-radius: 10px;
        border: 2px dashed var(--blue);
        bottom: -2%;
        right: -2%;
        z-index: -10;
      }
    }

    .card-wrapper {
      container-type: inline-size;
      padding-block: 1rem;
      /* grid-column: full; */
    }

    .content {
      display: grid;
      align-self: start;
    }

    .card:has(img) {
      display: grid;
      gap: 1rem;

      @container (width > 800px) {
        grid-template-columns: 1fr 3fr;

        .card-wrapper {
          display: grid;
        }
      }
    }

    a {
      text-decoration: none;
      color: var(--blue);
      padding-right: 30px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        height: 0.9px;
        background: var(--blue);
        left: 0;
        bottom: 0;
        width: 0;
        transition: width 0.2s;
      }

      &:hover:after {
        width: 100%;
      }
    }

    @media (width > 600px) {
      .card-wrapper {
        padding-block-start: 3rem;
        padding-block-end: 6rem;
      }

      .content {
        gap: 1rem;
      }

      .card:has(img) {
        gap: 3rem;
      }
    }
  }
</style>
