---

---

<div>
  <div class="flower">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<style>
  @layer components {
    .flower {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      animation: rotate 20s linear infinite;

      div {
        position: absolute;
        width: 40px;
        height: 40px;
      }

      & :nth-child(1) {
        background: var(--blue);
        border-radius: 50% 50% 0 50%;
        transform: skew(23deg, 23deg) translate(-20px, -20px);
      }
      & :nth-child(2) {
        background: var(--blue);
        border-radius: 50% 50% 50% 0;
        transform: skew(-23deg, -23deg) translate(20px, -20px);
      }
      & :nth-child(3) {
        background: var(--blue);
        border-radius: 50% 0 50% 50%;
        transform: skew(-23deg, -23deg) translate(-20px, 20px);
      }
      & :nth-child(4) {
        background: var(--blue);
        border-radius: 0 50% 50% 50%;
        transform: skew(23deg, 23deg) translate(20px, 20px);
      }
      & :nth-child(5) {
        background: var(--blue);
        border-radius: 50% 50% 0 50%;
        transform: rotateZ(45deg) skew(23deg, 23deg) translate(-20px, -20px);
      }
      & :nth-child(6) {
        background: var(--blue);
        border-radius: 50% 50% 50% 0;
        transform: rotateZ(45deg) skew(-23deg, -23deg) translate(20px, -20px);
      }
      & :nth-child(7) {
        background: var(--blue);
        border-radius: 50% 0 50% 50%;
        transform: rotateZ(45deg) skew(-23deg, -23deg) translate(-20px, 20px);
      }
      & :nth-child(8) {
        background: var(--blue);
        border-radius: 0 50% 50% 50%;
        transform: rotate(45deg) skew(23deg, 23deg) translate(20px, 20px);
      }

      /* & :nth-child(9) {
        width: 20px;
        height: 20px;
        background: var(--white);
        border-radius: 50%;
        filter: blur(5px);
      } */
    }
    @keyframes rotate {
      0% {
        transform: rotateZ(0deg);
      }
      100% {
        transform: rotateZ(360deg);
      }
    }
  }
</style>
