---

---

<section>
  <div>
    <h1>
      Cecilie Jadach - Multimediedesign studerende med passion for frontend development.
      <span> Baseret i København, men oprindeligt fra provinsen. </span>
    </h1>
  </div>
</section>

<style>
  @layer components {
    section {
      padding: var(--section-padding);
      hyphens: auto;
      span {
        opacity: 60%;
      }
    }
  }
</style>
