---

---

<section>
  <div>
    <h1>
      Cecilie Jadach - Multimediedesign studerende med <span>passion for frontend development.</span>
    </h1>
  </div>
</section>

<style>
  @layer components {
    section {
      height: 80svh;
      hyphens: auto;
      display: grid;

      div {
        align-self: center;

        span {
          text-transform: uppercase;
          opacity: 80%;
        }
      }
    }
  }
</style>
