---

---

<section>
  <div>
    <h1>
      Cecilie Jadach - Multimediedesign studerende med <span>passion for frontend development.</span>
    </h1>
  </div>
</section>

<style>
  @layer components {
    section {
      hyphens: auto;
      padding-block: 5rem;

      div {
        align-self: center;

        span {
          text-transform: uppercase;
          opacity: 80%;
        }
      }
    }

    @media (width > 600px) {
      section {
        padding-block-start: 20rem;
      }
    }
  }
</style>
