---
const { text } = Astro.props;
import { Icon } from "astro-icon/components";
---

<div class="quote-container">
  <h2 class="quote">{text}</h2>
</div>

<style>
  @layer components {
    .quote-container {
      padding-block: 3rem;
    }
    .quote {
      text-transform: uppercase;
    }

    @media (width > 600px) {
      .quote-container {
        grid-column: 3/4;
      }
    }
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  gsap.to(".quote", {
    scrollTrigger: {
      trigger: ".quote",
      start: "top center",
      end: "+=300",
      // toggleActions: "restart pause reverse reverse",
      scrub: 1,
    },
    // rotation: 360,
    yPercent: -80,
    duration: 5,
  });
</script>
