---
const { text } = Astro.props;
---

<div class="quote-container">
  <h2 class="quote">{text}</h2>
</div>

<style>
  @layer components {
    .quote-container {
      padding-block: 3rem;
    }
    .quote {
      text-transform: uppercase;
    }

    @media (width > 600px) {
      .quote-container {
        grid-column: 3/4;
      }
    }
  }
</style>

<script>
  import { gsap } from "gsap";

  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.to(".quote", {
    duration: 4,
    yPercent: -200,

    scrollTrigger: {
      trigger: ".quote-container",
      start: "-=500px",
      end: "+=1000px",
      // markers: true,
      scrub: true,
    },
  });
</script>
