---
const { text } = Astro.props;
---

<section>
  <blockquote>
    <h1><span>{text} </span></h1>
  </blockquote>
</section>

<style>
  @layer components {
    @property --p {
      syntax: "<percentage>";
      inherits: true;
      initial-value: 0%;
    }

    blockquote {
      view-timeline: --bq;
      block-size: 80vh;
      position: relative;
      animation: p linear both;
      animation-timeline: --bq;
      animation-range: entry 70% exit 10%;

      max-width: 120ch;

      h1 {
        position: sticky;
        top: 0;
        line-height: 1.25;
        min-block-size: 50vh;
        font-size: 2rem;
        align-content: center;
        animation: p ease-in both;
        animation-timeline: --bq;
        animation-range: entry 60% contain 100%;

        span {
          display: inline;
          background: linear-gradient(90deg in oklab, oklch(0.58 0.32 305.49) 0, oklch(0.64 0.33 318.52) var(--p), oklch(90% 0 0) 0) 0 50% / 100% auto text;
          color: #0000;
        }
      }
    }

    @keyframes p {
      to {
        --p: 100%;
      }
    }
  }
</style>
