---

---

<section>
  <div>
    <h3>Jeg vil gerne fremhæve det fremragende og professionelle samarbejde, jeg har haft med Cecilie som UX og UI designer i forbindelse med udviklingen af min hjemmeside. Hendes ekspertise og kreative tilgang har været en uvurderlig hjælp i processen.</h3>
    <br />
    <h3>Cecilie har vist en imponerende evne til at arbejde selvstændigt og levere wireframes, der imødekommer alle mine behov og krav til hjemmesiden. Hendes designs har været gennemtænkte og æstetisk tiltalende, samtidig med at de har fokuseret på brugeroplevelsen.</h3>
    <p>- Majbrit Hilaire</p>
  </div>
</section>

<style>
  @layer {
    div {
      border-left: 2px solid var(--blue);
      padding-left: 2rem;
    }
    h3,
    p {
      font-style: italic;
    }
  }
</style>
