---
import Button from "./Button.astro";
import { Icon } from "astro-icon/components";
import Flower from "./Flower.astro";
---

<div class="wrapper">
  <div class="container">
    <h2>Min værktøjskasse</h2>
    <div>
      <Button variant="secondary" text="HTML" />
      <Button variant="secondary" text="CSS" />
      <Button variant="secondary" text="Javascript" />
      <Button variant="secondary" text="Astro" />
      <Button variant="secondary" text="React" />
      <Button variant="secondary" text="Next" />
      <Button variant="secondary" text="GSAP" />
      <Button variant="secondary" text="GitHub" />
      <Button variant="secondary" text="Netlify" />
      <Button variant="secondary" text="Codepen" />
      <Button variant="secondary" text="Figma" />
      <Button variant="secondary" text="Adobe Illustrator" />
    </div>
  </div>
  <div class="flower-container">
    <Flower />
  </div>
</div>

<style>
  @layer componenets {
    .wrapper {
      display: grid;
      gap: 5rem;
    }
    .container {
      display: grid;
      gap: 1rem;
      padding-block: 4rem;

      div {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
      }
    }

    @media (width > 600px) {
      .wrapper {
        grid-template-columns: 1fr 1fr;
        gap: 0;
        place-content: center;

        .flower-container {
          align-self: center;
        }
      }

      .container {
        padding-block: 10rem;
      }
    }
  }
</style>
